@font-face {
    font-family: "FreeSet-Bold";
    src: url("../fonts/FreeSetBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/FreeSetBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/FreeSetBold.otf") format("opentype"), /* Open Type Font */
      url("../fonts/FreeSetBold.svg") format("svg"), /* Legacy iOS */
      url("../fonts/FreeSetBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/FreeSetBold.woff") format("woff"), /* Modern Browsers */
      url("../fonts/FreeSetBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

body, p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
}

p {
    line-height: 2.25rem;
    letter-spacing: 0.1rem;
}

sub { 
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}


h1 {
    font-family: FreeSet-Bold, Helvetica, sans-serif;
    font-size: 3rem;
}

.intro {
    text-align: center;
    padding: 30px;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


.coronaposter {
    display: inline-block;
    overflow: auto;
    white-space: normal;
    padding: 1rem;
    max-width: 50%;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: -1px;
}

.coronaposter-container {
    display: inline-block;
    resize: both;
    width: 100%;
    background-position: 0% 0%;
    background-image: url(../img/stayalertbackground.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.coronaposter-text {
    display: inline-block;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #fff000;
    max-width: 82%;
    min-width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: FreeSet-Bold, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4vw;
    line-height: 4vw;
    overflow-wrap: normal;
    word-wrap: break-word; 
    hyphens: auto;
    color: #211c19;
    font-stretch: extra-condensed;
    font-weight: bolder;
}

@media screen and (max-width: 1048px) {
    
    .coronaposter {
        max-width: 60%;
    }
    .coronaposter-text {
    max-width: 80%;
    }
}

@media screen and (max-width: 937px) {

    .coronaposter-container {
        background-color: #fff000;
        background: repeating-linear-gradient(
            -45deg, 
            #fff000 0, 
            #fff000 1.5rem,
             #06963e 1.5rem,
             #06963e 3rem,
             #fff000 3rem, 
             #fff000 5rem, 
             #06963e 4rem, 
             #06963e 4rem,
             #fff000 0, 
             #fff000 1.5rem,
              #06963e 1.5rem,
              #06963e 3rem,
              #fff000 3rem, 
              #fff000 5rem, 
              #06963e 4rem, 
              #06963e 4rem,

             );         
    }

    .coronaposter {
        max-width: 60%;
    }
    .coronaposter-text {
    max-width: 75%;
    }

}

@media screen and (max-width: 760px) {
    .coronaposter {
        max-width: 60%;
    }
    .coronaposter-text {
    max-width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .coronaposter {
        max-width: 60%;
    }
    .coronaposter-text {
    max-width: 65%;
    }
}


@media screen and (max-width: 447px) {

    .coronaposter {
        display: inline-block;
        overflow: auto;
        white-space: normal;
        padding: 2rem;
        max-width: 90%;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: -1px;
    }

    .coronaposter-text {
    max-width: 65%;
    font-size: 5vw;
    line-height: 6vw;
    }
}


@media screen and (max-width: 302px) {

    .coronaposter-container {
        width: 90%;
    }

    .coronaposter {
        display: inline-block;
        overflow: auto;
        white-space: normal;
        padding: 2rem;
        max-width: 90%;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: -1px;
    }

    .coronaposter-text {

    width: 95%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 6vw;
    line-height: 6vw;
    }
}



.coronaposter:after {
    content: "";
    display: block;
    padding-bottom: 10%;
  }


.triangle {
    display: inline-block;
    width: 0; 
    height: 20px; 
    margin-top: 15px;
    border-left: 4.5vw solid transparent;
    border-right: 4.5vw solid transparent;
    border-top: 3.5vw solid #0b913d;

  }


.section
{
    display: block;
    max-height: 100vh;
    padding-bottom: 1rem;
}
  
/* ================================
Footer
================================= */

footer {
    display: block;
    position: relative;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #0b913d;
    padding-bottom: 3rem;
    text-align: center;
  }
  
  footer p {
    font-family: Open Sans, Helvetica, sans-serif;    
    line-height: 1.25rem;
    font-size: 0.75rem;
    color: #f3f3f3;
    background-color: #0b913d;
  }
  
  footer ul {
    display: block;
    box-sizing: border-box;
  }
  
  footer ul li {
      display: inline;
      list-style-type: none;
      margin-right: 20px;
      margin-left: 20px;
  }
  
  footer ul li img {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  footer img {
      max-height: 1.25rem;
  }
  
  footer a {
    text-decoration: none;
    color: yellow;
  }
  
  footer img:hover {
    color: yellow;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #f3f3f3;
  }


/* .boxes {
    /* display: flex;
    justify-content: center; */
    /* position: relative;
    min-height: 50%;
    min-width: 80%;
    border: solid 20px;  
    border-image-source:   repeating-linear-gradient(
        -90deg, 
        #fff000 0,
    #06963e 8rem); 
 } */

 /* 
.boxone {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 25%;
    background-color: #fff000;
    background: repeating-linear-gradient(
        -45deg, 
        #fff000 0, 
        #fff000 2rem,
         #06963e 2rem,
         #06963e 4rem,
         #fff000 4rem, 
         #fff000 6rem, 
         #06963e 6rem, 
         #06963e 8rem);    
}

.boxtwo {
    position: relative;
    width: 25%;
    height: 25%;
    margin-left: 0;
    background-color: green;
    background: repeating-linear-gradient(
        45deg, 
        #fff000 0, 
        #fff000 2rem,
         #06963e 2rem,
         #06963e 4rem,
         #fff000 4rem, 
         #fff000 6rem, 
         #06963e 6rem, 
         #06963e 8rem);    
} */

