@font-face {
    font-family: "FreeSet-Bold";
    src: url("./fonts/FreeSetBold.eot"); /* IE9 Compat Modes */
    src: url("./fonts/FreeSetBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/FreeSetBold.otf") format("opentype"), /* Open Type Font */
      url("./fonts/FreeSetBold.svg") format("svg"), /* Legacy iOS */
      url("./fonts/FreeSetBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/FreeSetBold.woff") format("woff"), /* Modern Browsers */
      url("./fonts/FreeSetBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

body, p {
    font-family: Helvetica, Arial, sans-serif;  
    text-align: center;
}

p {
    line-height: 2.25rem;
}


/* ================================
Navigation
================================= */


.navbar {
    letter-spacing: 1px;
    display: flex;
    width: 100%;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    background-color: #1c1d1e;
    color: #968569;
    position: top;
  }
  
  .navbar-items {
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    flex-wrap: wrap;
    margin-right: 5%;
  }
  
  .navbar-link a {
    cursor: pointer;
    font-size: 1.5vw;
    padding-left: 1.25rem;
    text-decoration: none;
    color: #ff5600;
  }
  
  .navbar-link a:hover {
    text-decoration: none;
    color: #f3f3f3;
  }
  
  .navbar-items-right {
    font-family: FreeSet-Bold, Helvetica, sans-serif;    
    cursor: pointer;
    margin-left: auto;
    vertical-align: middle;
  }
  
  .navbar-link-brand {
    color: #f3f3f3;
    letter-spacing: 0.25px;
    font-size: 2.5vw;
    padding-left: 1vw;
    vertical-align: middle;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }


h1 {
    font-family: FreeSet-Bold, Helvetica, sans-serif;
    font-size: 3rem;
}

.intro {
    text-align: center;
    padding: 30px;
}

button {
    color: red;
    background-color: peachpuff;
    font-size: 2rem;
}

button:hover {
    color: violet;
    background-color: blue;
}


.coronaposter {
    display: inline-block;
    overflow: auto;
    white-space: normal;
    padding: 2rem;
    max-width: 50%;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: -1px;
}

.coronaposter-container {
    display: inline-block;
    width: 100%;
    background-position: 0% 0%;
    background-image: repeating-linear-gradient(
        -45deg, 
        #fff000, 
        #fff000 2rem,
         #06963e 2rem,
         #06963e 4rem,
         #fff000 4rem, 
         #fff000 6rem, 
         #06963e 6rem, 
         #06963e 8rem);
         
}

.coronaposter-text {
    display: inline-block;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #fff000;
    max-width: 87.5%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.0rem;
    text-transform: uppercase;
    font-family: FreeSet-Bold, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 6vw;
    line-height: 6vw;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    hyphens: auto;
    color: #211c19;
        /* border: 20px dashed #019b3b; */
}

@media screen and (max-width: 700px) {
    .coronaposter-text {
    max-width: 60%;
    }
}

.coronaposter:after {
    content: "";
    display: block;
    padding-bottom: 30%;
  }


.triangle {
    display: inline-block;
    width: 0; 
    height: 20px; 
    margin-top: 10px;
    border-left: 4.5vw solid transparent;
    border-right: 4.5vw solid transparent;
    border-top: 3.5vw solid #0b913d;
  }


.section
{
    display: block;
    width: 100%;
}
  
/* ================================
Footer
================================= */

footer {
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #1c1d1e;
    padding-bottom: 3rem;
    text-align: center;
  }
  
  footer p {
    font-family: Open Sans, Helvetica, sans-serif;    
    line-height: 1.25rem;
    font-size: 0.75rem;
    color: #f3f3f3;
    background-color: #1c1d1e;
  }
  
  footer ul {
    display: block;
    box-sizing: border-box;
  }
  
  footer ul li {
      display: inline;
      list-style-type: none;
      margin-right: 20px;
      margin-left: 20px;
  }
  
  footer ul li img {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  footer img {
      max-height: 1.25rem;
  }
  
  footer a {
    text-decoration: none;
    color: #ff5600;
  }
  
  footer img:hover {
    color: #ff5600;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #f3f3f3;
  }